---
interface Props {
    plan: string;
    activacion: string;
    ram: string;
    capacidad: string;
    core: string;
    conexion: string;
    precio: string;
    ubicacion: string;
}

const { plan, activacion, ram, core, capacidad, conexion, precio, ubicacion } = Astro.props;
---

<a class="bg-[#fff] p-5 border-indigo-100/100 hover:border-2 hover:border-indigo-500/100  transition ease-in-out border-2 block" href="#">
    <div>
        <div>
            <h2 class="text-sm">{plan}</h2>
            <p class="text-xs">{activacion}</p>
        </div>
    </div>
    <div class="flex justify-between items-center flex-wrap">
        <div class="flex items-center flex-wrap">
            <div><img src="/img/MdiCircleSlice8.svg" class="mr-5" width="15" height="15" alt="Icono"></div>
            <p class="mr-3 text-sm font-semibold">{ram}</p>
            <p class="mr-3 text-sm font-semibold">{core}</p>
            <p class="mr-3 text-sm font-semibold">{capacidad}</p>
            <p class="mr-3 text-sm font-semibold">{conexion}</p>
            <p class="text-sm font-semibold">Región: {ubicacion}</p>
        </div>
        <p class="text-2xl font-semibold">{precio}<span class="text-sm">/mes</span></p>
    </div>
</a>